@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

#particles {
    height: 100%;
    width: 100%;
}

@layer components {
    .fonte-titulo {
        @apply mt-12 text-xl font-semibold;
    }
    .fonte-texto {
        @apply text-base mt-4;
    }
}